:root {
  --white: #fefefe;
  --black: #101;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--black, black);
  background: no-repeat center center fixed;
  background-size: cover;
  color: var(--white, white);
  font-family: "Roboto", Helvetica, sans-serif;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 62.5%;
}

main {
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}

.top,
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.center {
  text-align: center;
  font-size: 2.25rem;
}

.quote {
  font-size: 1.15rem;
}

.quote cite {
  font-size: 0.8rem;
  color: #eaeaea;
}

.currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.currency h3 {
  font-size: 1.25rem;
}

.currency ul {
  list-style: none;
  padding: 0.25rem 1.25rem;
}

.currency li {
  font-size: 1rem;
}

.weather {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "icon temp"
    "city city";
}

.weather img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 50px;
  height: 50px;
}

.weather h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: temp;
  font-size: 2rem;
  -ms-grid-column-align: self-end;
  justify-self: self-end;
  -ms-grid-row-align: center;
  align-self: center;
}

.weather p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: city;
  -ms-grid-column-align: self-end;
  justify-self: self-end;
  font-size: 1.1rem;
}

.photograher {
  font-size: 0.65rem;
}
